{% extends 'default/admin/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="title-1 m-b-25">Utilisateur</h2>
            <div class="table-responsive table--no-card m-b-40">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                    <tr>
                        <th>iI</th>
                        <th>Nom</th>
                        <th>E-mail</th>
                        <th>Password</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if user == [] %}
                        <p>Vous n'avez aucun user !</p>
                    {%  else %}
                        {% for users in user %}
                            <tr>
                                <td>{{ users.id }}</td>
                                <td>{{ users.username }}</td>
                                <td>{{ users.email }}</td>
                                <td>{{ users.password }}</td>
                                </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}